

@font-face {font-family: "Courier New"; src: url("/media/cour.ttf"); }
body{
    font-family: 'Courier New', Courier, monospace !important;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0%;
    background: #04001A;
}

@media (max-width : 600px) { /* Mobile version  */

    .skill_type{
        margin-top: -5vh !important;
    }

    .project_img{
        width: 25vw;
    }

    .skill{
        background-color: lightgray !important;
        color: #04001A !important;
    }
    .skill>img{
        filter: grayscale(0) brightness(100%) !important;
    }

    .project_name, .text-shadow-white, .project_state>span{
        font-size: 1rem !important;
    }

    .project_state>button {
        height: 100% !important;
        width: 50% !important;
        font-size: 0.7rem !important; 
    }

    .project_state{
        margin-top: 15% !important;
        margin-bottom: 15% !important;
    }

    #contacts{
        margin-top: 10vh !important;
    }

    .candy>span{
        font-size: 1.2em !important;
    }
    hgroup>h1, hgroup>button{
        font-size: 1.5rem !important;
    }

    hgroup>h2{
        font-size: 1.2rem !important;
    }

    .about_me{
        margin-top: -5vh !important;
        margin-bottom: 2vh;
        width: 95vw !important;
        padding: 15px !important;
    }

    #intro{
        margin-top: 10vh;
    }
    .about_me>button{
        margin-top: 2vh !important;
    }

    .about_me>hgroup>h4{
        font-size: 1em !important;
    }
    #contact>.candy>*{
        font-size: 1rem !important;
    }

    .skill>img{
        width: 50% !important;
    }

    .play-button{
        width: 20vh !important;
    }

    .candy{
        margin-bottom: 5vh !important;
    }

    nav{
        margin-top: 3vh !important;
    }

    hgroup{
        margin-left: 0 !important;
    }

    header{
        flex-direction: column;
        align-items: center !important;
        justify-content: center !important;
    }

    .menu-img{
        width: 75%;
    }
    body{
        overflow: visible !important;
    }
}


.button-rounded{
    background: #0a013d27;
    border: none;
    border-radius: 20px;
    transition: 0.5s;
    animation: button_breath 2s infinite ease alternate;
    color: whitesmoke;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    min-height: 1vh;
    min-width: 8vw;
    font-size: 1rem;
    padding: 10px;
}

.button-rounded:hover, .activeButtonRounded{
    background: lightgray;
    color: #04001A;
    text-shadow: #04001a -2px 2px 10px;
}

.centered{
    display: flex;
    justify-content: center;
    align-items: center;
}
#project_link{
    background: #0a013d27;
    border: none;
    border-radius: 20px;
    transition: 0.5s;
    animation: button_breath 2s infinite ease alternate;
    color: whitesmoke;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    font-size: 1rem;
}

nav{
    transition: 1.2s;
    position: relative;
    z-index: 100;
    margin-top: 15vh;
}


.candy{
    display: flex;
    flex-direction: column;
    transition: 0.3s ease-in-out;
    pointer-events: all;
    cursor: pointer;
    filter: drop-shadow(-6px 6px 4px rgba(0, 0, 0, 0.9));
    background-color: #04001A;
    padding-left: 0% !important;
    margin-left: 2.5%;
    margin-right: 2.5% ;
    border-radius: 5%;
    animation: bordermovement 5s infinite ease-in-out, breating-no-hover 10s infinite ease-in ;
    animation-direction: alternate;
    border: 7px solid;

}
.candy > span, li>span{
    color: lightgray;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    margin: 0.5em;
}
.play-button{
    width: 10vw;
    margin: 1em !important;
    filter:  brightness(0) invert(1) drop-shadow(-1px 1px 3px);
}



.candy:hover{
    background: lightgray;
}

.candy:hover>span, #contacts>.candy:hover>a, #contacts>.candy:hover>h3,#contacts>.candy:hover>p, .about_me>button:hover>a,.about_me>button:focus>a{
    color: #04001a;
    text-shadow: #04001a -2px 2px 10px;
}
.menu-img{
    filter:  brightness(0) invert(0.75) drop-shadow(-1px 1px 3px);
}
.menu-img:hover, .menu-img:focus{
    filter:  brightness(0) invert(1) drop-shadow(-1px 1px 3px);
    cursor: pointer;
    animation: pride-button 3s infinite ease-in-out;
    animation-direction: alternate;
    transition: 0.5s ease;
}

#play-span>#start-span:hover{
    background: #FBFFE6;
    color: #04001A;
}
#play-span{
    flex-direction: column;
}

#play-span:hover>img{
    animation: pride-button 3s infinite ease-in-out;
    animation-direction: alternate;
}
#play-span:hover>#start-span{
    background: #FBFFE6;
    color: #04001A;
}

li{
    margin: 1.2em;
    list-style-type: "";
}

#contacts{
    margin-top: 25vh;
    width: 100%;
    bottom: 0;
    height: 5vh;
    color: lightgray;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em !important;
    pointer-events: all;
}


#contacts>.candy{
    animation: skillbordermovement 3s infinite ease;
    animation-direction: alternate;
}

#contacts>.candy>*{
    font-size: 1.25rem;
    margin: 2%;
    color: lightgray;
    text-decoration: none;
    pointer-events: all;
    padding-left: 10px;
    padding-right: 10px;
}
body{
    transition: 1.2s;
}

.skill{
    display: flex;
    flex-direction: column;
    transition: 0.3s ease-in-out;
    animation: skillbordermovement 3s infinite ease;
    animation-direction: alternate;
    background-color: #04001A;
    border-radius: 5%;
    border: 2px solid;
    pointer-events: all;
    margin: 3%;
    padding: 10px !important;
}

.skill:hover{
    filter: drop-shadow(0px 0px 5px red);
    box-shadow: rgb(255 255 255 / 25%) 0px 30px 60px -12px, rgb(255 255 255 / 30%) 0px 18px 36px -18px;
    cursor: pointer;
    text-shadow: none;
    background-color: lightgray;
    color: #04001A;
}
.skill>h2{
    font-size: 1.2rem;
    margin-bottom: 0;

}

.skill:hover>h2{
    display: block;
    color: lightgray;
    box-shadow: rgb(255 255 255 / 25%) 0px 30px 60px -12px, rgb(255 255 255 / 30%) 0px 18px 36px -18px;
    cursor: pointer;
    text-shadow: none;
    color: #04001A;

}

.skill>img{
    filter: grayscale(1) brightness(20%);
    width: 40%;
}
.skill:hover>img{
    filter: grayscale(0) brightness(100%);
    transition: 1s;
}

.about_me{
    animation: skillbordermovement 5s infinite ease alternate;
    border: 5px solid;
    padding: 20px;
    width: 85vw;
    min-height: 50vh;
    flex-direction: column;
    margin-top: -10vh;
    transition: .3s ease;
}



.about_me>hgroup>h4{
    font-size: 1.2rem;
    text-shadow:  0px 10px 10px #8d5cff6e, 10px 0px 10px #ffe38899, 0px -10px 10px #ff616b85, -10px 1px 10px #80c8ff8a;
    
}
.about_me>button{
    margin-top: 2.5%;
    background: #0a013d27;
    
    border: none;
    border-radius: 20px;
    transition: 0.5s;
    animation: button_breath 2s infinite ease alternate;
}
.about_me>button>a{
    text-decoration: none;
    color: whitesmoke;
}
.about_me>button:hover,.about_me>button:focus{
    background:lightgray;

}

@keyframes button_breath {
    from{
        box-shadow: 0px 10px 20px 2px #8d5cff6e, 10px 0px 20px 2px #ffe38899, 0px -10px 20px 2px #ff616b85, -10px 0px 20px 2px #80c8ff8a;
    }
    to{
        box-shadow: 0px 10px 20px 8px #8d5cff6e, 10px 0px 20px 8px #ffe38899, 0px -10px 20px 8px #ff616b85, -10px 0px 20px 8px #80c8ff8a;
    }
}
.transitionning hgroup{
    opacity: 0;
    transition: 1.2s;
}

.transitionning nav{
    opacity: 0;
}

header{
    position: relative;
    z-index: 100;
    display: flex;
    justify-content: space-between;
}
#background{
    position: absolute;
    background-color:#04001A;
    width: 100%;
    height: 100%;
    top: 0;
    transition: 1.5s;
}

#background-image-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: 0;
}

hgroup, hgroup>button{
    flex-direction: column;
    color: lightgray;
    text-shadow:  0px 10px 10px #8d5cff6e, 10px 0px 10px #ffe38899, 0px -10px 10px #ff616b85, -10px 1px 10px #80c8ff8a;
}
hgroup>button{
    background-color: transparent;
    color: lightgray;
    transition:0.2s
}
hgroup>h1, hgroup>button{
    font-size: 2rem;
}
hgroup>h2{
    font-size: 1.75rem;
}
hgroup>h1, hgroup>h2{
    width: auto !important;
}
.back-button{
    border: 2px solid lightgray;
    width: auto;
    border-radius: 10px;
    font-size: 2rem;
}
.back-button:hover, .back-button:focus{
    animation: skillbordermovement 3s infinite ease;
    animation-direction: alternate;
    box-shadow: rgba(255, 255, 255, 0.25) 0px 30px 60px -12px, rgba(255, 255, 255, 0.3) 0px 18px 36px -18px ;
    cursor: pointer;
    text-shadow: none;
    background-color: lightgray;
    color: #04001A;
}

@keyframes bordermovement{

    0%{
        border-bottom-color: #8E5CFF;
        border-right-color: #FFE488;
        border-top-color: #FF616B;
        border-left-color: #80C7FF;
    }



    25%{
        border-bottom-color:#80C7FF;
        border-right-color:  #8E5CFF;
        border-top-color: #FFE488;
        border-left-color: #FF616B;
    }

    50%{
        border-bottom-color:#FF616B;
        border-right-color:  #80C7FF;
        border-top-color: #8E5CFF;
        border-left-color: #FFE488;
    }



    75%{
        border-bottom-color: #FFE488;
        border-right-color: #FF616B;
        border-top-color: #80C7FF;
        border-left-color: #8E5CFF;
    }

    100%{
        border-bottom-color: #8E5CFF;
        border-right-color: #FFE488;
        border-top-color: #FF616B;
        border-left-color: #80C7FF; 
    }


}

@keyframes skillbordermovement{

    0%{
        border-bottom-color: #8E5CFF;
        border-right-color: #FFE488;
        border-top-color: #FF616B;
        border-left-color: #80C7FF;
        box-shadow: 0px 5px 20px 0px #8d5cff6e, 5px 0px 20px 0px #ffe38899, 0px -5px 20px 0px #ff616b85, -5px 0px 20px 0px #80c8ff8a ;
    }



    25%{
        border-bottom-color:#80C7FF;
        border-right-color:  #8E5CFF;
        border-top-color: #FFE488;
        border-left-color: #FF616B;
        box-shadow: 0px 10px 20px 0px #80c8ff8a, 10px 0px 20px 0px #8d5cff6e, 0px -10px 20px 0px #ffe38899, -10px 0px 20px 0px #ff616b85 ;
    }

    50%{
        border-bottom-color:#FF616B;
        border-right-color:  #80C7FF;
        border-top-color: #8E5CFF;
        border-left-color: #FFE488;
        box-shadow: 0px 10px 20px 0px #ff616b85, 10px 0px 20px 0px #80c8ff8a, 0px -10px 20px 0px #8d5cff6e, -10px 0px 20px 0px #ffe38899 ;
    }



    75%{
        border-bottom-color: #FFE488;
        border-right-color: #FF616B;
        border-top-color: #80C7FF;
        border-left-color: #8E5CFF;
        box-shadow: 0px 10px 20px 0px #ffe38899, 10px 0px 20px 0px #ff616b85, 0px -10px 20px 0px #80c8ff8a, -10px 0px 20px 0px #8d5cff6e ;
    }

    100%{
        border-bottom-color: #8E5CFF;
        border-right-color: #FFE488;
        border-top-color: #FF616B;
        border-left-color: #80C7FF;
        box-shadow: 0px 10px 20px 0px #8e5cff, 10px 0px 20px 0px #ffe38899, 0px -10px 20px 0px #ff616b85, -10px 0px 20px 0px #80c8ff8a ; 
    }


}


@keyframes breating-no-hover{

    0% ,50%,100%{
        -webkit-box-shadow: 5px 5px 15px 5px #ff808041, -9px 5px 15px 5px #ffe38841, -7px -5px 15px 5px #8bff853f, 12px -5px 15px 5px #80c8ff44, 12px 10px 15px 7px #e388ff3a, -10px 10px 15px 7px #ff616b33, -10px -7px 27px 1px #8d5cff4b, 5px 5px 40px 23px #ffffff3a; 
        box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 5px 5px 40px 23px #FFFFFF;
    }

    25%,75%{
        -webkit-box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 5px 5px 40px 0px #FFFFFF; 
        box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 5px 5px 40px 0px #FFFFFF;
    }

    
}

@keyframes pride-button{
    0%{
        filter: invert(100%) sepia() saturate(10000%) hue-rotate(0deg) drop-shadow(-1px 1px 3px)
    }

    100%{
        filter: invert(100%) sepia() saturate(10000%) hue-rotate(360deg) drop-shadow(-1px 1px 3px)
    }
}

@keyframes hue-rotation {
    0%{
        filter: invert(75%) sepia() saturate(10000%) hue-rotate(0deg) drop-shadow(-1px 1px 3px)
    }
    100%{
        filter: invert(75%) sepia() saturate(10000%) hue-rotate(360deg) drop-shadow(-1px 1px 3px)
    }   
}


.unselectable {
    -webkit-user-select: none; /* Safari, Chrome */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE */
    user-select: none; /* CSS3 */
}


.appearskill-enter-active{
    animation: TESTCOME 2s ease;
}
.blur-enter-active{
    filter: blur(0px);
}
.blurappear-leave-active{
    filter: blur(15px);
}




.appearskill-leave-active, .appearabbout-leave-active {
    display: none;
}
.appearskill-leave-to, .appearabbout-leave-to{
    opacity: 0;
}

.appearabbout-enter-active {
    animation: TESTCOME 2s ease, skillbordermovement 2s ease;
}



.appearin-enter-active, .appearin-enter-from{
    animation: appearin .7s ease;
}
.appearin-leave-active, .appearin-leave-to {
    animation: appearin .5s ease;
    animation-direction: reverse;
}
.come-left-enter-active{
    animation: come-left .7s ease;
    animation-delay: .10s;
}



.come-right-enter-active{
    animation: come-right .7s ease;
    animation-delay: .10s;
}

.come-up-enter-active{
    animation: come-up .7s ease;
    animation-delay: .10s;
}

.come-left-leave-active{
    animation: come-left .5s ease;
    animation-direction: reverse;
}
.come-right-leave-active{
    animation: come-right .5s ease;
    animation-direction: reverse;
}
.come-up-leave-active{
    animation: come-up .5s ease;
    animation-direction: reverse;
}

@keyframes appearin{
    from{
        transform: scale(0);
        filter: blur(10px);  
        
    }

    to{
        transform: scale(1);
        filter: blur(0);
    }
}

@keyframes come-left{
    from{
    
        opacity: 0;
        transform: translate(-100px);
        filter: blur(10px);  
        border-bottom-color: #8E5CFF;
        border-right-color: #FFE488;
        border-top-color: #FF616B;
        border-left-color: #80C7FF;
        -webkit-box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 5px 5px 40px 0px #FFFFFF; 
        box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 5px 5px 40px 0px #FFFFFF;        
    }

    to{
        opacity: 1;
        transform: translate(0);
        border-bottom-color: #8E5CFF;
        border-right-color: #FFE488;
        border-top-color: #FF616B;
        border-left-color: #80C7FF;
        -webkit-box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 5px 5px 40px 23px #FFFFFF; 
        box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 5px 5px 40px 23px #FFFFFF;

    }
}

@keyframes come-right{
    from{
        border-bottom-color: #8E5CFF;
        border-right-color: #FFE488;
        border-top-color: #FF616B;
        border-left-color: #80C7FF;
        -webkit-box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 5px 5px 40px 0px #FFFFFF; 
        box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 5px 5px 40px 0px #FFFFFF;        
        opacity: 0;
        transform: translate(50px);
        filter: blur(10px);
        -webkit-box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 5px 5px 40px 0px #FFFFFF; 
        box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 5px 5px 40px 0px #FFFFFF;
    }



    to{
        border-bottom-color: #8E5CFF;
        border-right-color: #FFE488;
        border-top-color: #FF616B;
        border-left-color: #80C7FF;
        -webkit-box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 5px 5px 40px 0px #FFFFFF; 
        box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 5px 5px 40px 0px #FFFFFF;        
        opacity: 1;
        transform: translate(0);
        -webkit-box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 5px 5px 40px 23px #FFFFFF; 
        box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 5px 5px 40px 23px #FFFFFF;
        

    }
}


@keyframes come-up{
    from{
        border-bottom-color: #8E5CFF;
        border-right-color: #FFE488;
        border-top-color: #FF616B;
        border-left-color: #80C7FF;
        -webkit-box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 5px 5px 40px 0px #FFFFFF; 
        box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 5px 5px 40px 0px #FFFFFF;        
        opacity: 0;
        transform: translate(0, 50px);
        filter: blur(10px);
        -webkit-box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 5px 5px 40px 0px #FFFFFF; 
        box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 5px 5px 40px 0px #FFFFFF;
    }



    to{
        border-bottom-color: #8E5CFF;
        border-right-color: #FFE488;
        border-top-color: #FF616B;
        border-left-color: #80C7FF;
        -webkit-box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 5px 5px 40px 0px #FFFFFF; 
        box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 5px 5px 40px 0px #FFFFFF;        
        opacity: 1;
        transform: translate(0);
        -webkit-box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 5px 5px 40px 23px #FFFFFF; 
        box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 5px 5px 40px 23px #FFFFFF;
        

    }
}






@keyframes TESTCOME{
    from{
        opacity: 0%;
        transform: translate(0, 100%);
        filter: blur(20px);

    }
    to{
        opacity: 100%;
        transform: scale(1);
    }
}


.skills_needed>img{
    width: 20%;
}

.projects>.row>.col-8{
    flex-direction: column;
}

.projects{
    justify-content: space-evenly;
}


.project_name, .text-shadow-white, .project_state>span, .IndexSelector{
    color: lightgray;
    font-size: 1.5rem;
    text-shadow: 0px 10px 10px #8d5cff6e, 10px 0px 10px #ffe38899, 0px -10px 10px #ff616b85, -10px 1px 10px #80c8ff8a;
}
/* .text-shadow-white{
    line-height: 1.4 !important;
} */


.IndexSelector{
    background-color: transparent;
    text-align: center;
    width: 2.5em;
    border-radius: 10px;
    border: 2px solid white;
    pointer-events: all;
    cursor: pointer;
    transition: .2s
}
.IndexSelectorChangement{
    opacity: 0.1;
    pointer-events: none;
}
.IndexSelector:focus{
    color: red !important;
}
.project_state>span{
    font-size: 1.2rem;
}




.skills_needed{
    width: 50%;
    justify-content: space-evenly;
}

img[alt="logo sqlite"]{
    background-color: white;
}
img[alt="Création d'un site au style Matrix"]{
    animation: hue-rotation 5s infinite alternate;
    box-shadow: none;
    color: black;
}

img[alt="logo wordpress"]{
    /* filter: drop-shadow(0px 0px 10px rgba(0, 118, 157, 0.7)); */
    filter: drop-shadow(0px 0px 10px rgba(65, 184, 131, 0.7));
}
img[alt="logo css3"],img[alt="logo sqlite"],img[alt="logo html"]{
    filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.7));
}
img[alt="logo javascript"] {
    filter: drop-shadow(0px 0px 10px rgba(228, 186, 66, 0.7));
}

img[alt="logo Vue JS"]{
    filter: drop-shadow(0px 0px 10px rgba(65, 184, 131, 0.7));
}

img[alt="logo python"]{
    filter: drop-shadow(0px 0px 10px rgba(56, 118, 172, 0.7));
}




@media (max-width: 1400px) and (min-width: 1000px){ /*  */
    .project_name, .text-shadow-white, .project_state>span{
        color: lightgray;
        font-size: 1rem;
        text-shadow: 0px 10px 10px #8d5cff6e, 10px 0px 10px #ffe38899, 0px -10px 10px #ff616b85, -10px 1px 10px #80c8ff8a;
    }
    
    .project_state>span{
        font-size: 0.8rem;
    }

    .project_state>button{
        font-size: 0.8rem;
    }
}



#copied{
    position: fixed;
    bottom: 10vh;
    background-color: grey;
    padding: 10px 12px;
    border-radius: 15px;
    color: white;
    font-size: 1rem;
    transition: 1.2s opacity;
    display: none;
}





::-webkit-scrollbar {
    width: 3px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #04001A;
    width: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(77, 71, 71); 
    border-radius: 50px;
    box-shadow: 0px 10px 10px #8d5cff6e, 10px 0px 10px #ffe38899, 0px -10px 10px #ff616b85, -10px 1px 10px #80c8ff8a;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
